html 
	head 
		style 
			include ../public/baseballSalaries.css
		<!-- Chart js is a javascript framework that allows me to create a graph-->
		script(src="https://cdn.jsdelivr.net/npm/chart.js")
		<!-- script. means to put javascript directly into the file-->
		<!-- gives labels to graph-->
			<!-- Each dataset results in a single line on the chart-->
			<!-- Datasets is an array of json objects-->
			<!-- The first json object is the first dataset-->
			<!-- Each dataset requires a label for the title and the data for the line-->
			<!-- labels, data ex. come from the endpoint in routes js-->
			<!-- The config object provides details about the chart type to chart js-->
		script.
			const data = {
				labels: [!{'"' + labels.join('","') + '"'}],
				datasets: [{
					label: '!{title}',
					backgroundColor: 'rgb(255,99,132)',
					borderColor: 'rgb(255,99,132)',
					data: [!{data}]
				}]
			}

			const config ={
				type: 'line',
				data: data,
				options: {
					maintainAspectRatio: false
				}
			}
		script.
			function createGraph(){
				const myChart =new Chart(
					document.getElementById('myChart'),
					config
				)
			}
<!-- calling createGraph function when the body of the page is loaded-->
<!-- canvas is used to draw graphics with javascript in HTML-->
	body(onload="createGraph()")
		div(style="width: 800px; height: 270px;")
			canvas(id="myChart")